html {
    height: 100vh; 
    overflow-y: auto;
    min-width: 300px;
}

body {
    margin: 0 auto;
    padding-top: 60px;
    color: #333;
    overflow-y:unset;
}


header {
    background-color: black;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    position: fixed;
    top: 0;
}

main {
    flex-grow: 1;
}

footer {
    text-align: center;
    margin: 0 auto;
    padding: 4px 0;
    margin-top: 30px;
    background-color: black;
    color: white;
    line-height: 8px;
}

h1 {
    grid-column: 2/6;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Oswald', 'sans-serif';
    padding: 10px 0px;
}

h1 a, h1 a:visited{
    color: white;
}

/* navigation etc */
.show {
    display: grid;
    justify-content: center;
    right: 0;
}

nav {
    grid-column: 8/9;
    position: relative;
}

nav ul {
    text-decoration: none;
    list-style-type: none;
    padding-inline-start: 0px;
    display: none;
    position:fixed;
    top: 40px;
    right: -100px;
    width: 100vw;
    height: 300px;
    background-color: black;
    color: white;
    transition: left 2s ease-in-out;
}

nav ul li {
    margin-right: 10px;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 8px;
    margin-top: 30px;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

#menu_button {
    background-color: black;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: .4s;
}

.animate .bar1 {
    transform: translate(0, 11px)rotate(-45deg);
}

.animate .bar2 {
    opacity: 0;
}

.animate .bar3 {
    transform: translate(0, -11px)rotate(45deg);
}

#register {
    background-color: rgb(0, 153, 248);
    border-radius: 5%;
    max-height: 20px;
}

/* colorToggle */
#colorToggle {
    display: none;
}

#toggleLabel {
    position: absolute;
    color: white;
    border-radius: 35%;
    font-size: 32px;
    cursor: pointer;
    margin: 0 auto 0 10px;
    border: none;
}

.darkMode {
    background-color: rgb(46 46 48);
    color: rgb(255, 255, 255);
}

.vDarkMode {
    background-color: #000000;
    color: white;
    border-color: white;
}

.mode {
    color: white;
}

h2 {
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding-left: 20px;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

.h2Dark {
    color: white;
    border-bottom: 1px solid white;
}

h3 {
    font-family: 'Oswald', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

h3 a {
    color: black;
    
}

h3 a:hover {
    color: white;
}

/* Posts Page specific */
.hide_posts {
    display: none;
}

#filter_posts_section {
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;

}

#filter_posts_section .selected_filter_button {
    outline: none;
    background-color: #000000;
    box-shadow: 1px 1px 2px black;
    color: white;
}

#filter_posts_section button {
    flex: 1;
    min-width: 20px;
    max-width: 140px;
    width: 100%;
    border: none;
    background-color: rgb(0, 153, 248);
    color: white;
    padding: 20px 38px;
    box-shadow: 5.5px 5.5px 5px rgb(0, 0, 0);
    margin: 8px 0px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.post_images {
    width: auto;
    height: 55vw;
    width: 80vw;
    max-width: 700px;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 0px 0px 5px black;
}

.post:hover .post_images {
    width: 84vw;
}

.post {
    text-align: center;
    border-bottom: 1px black solid;
    padding: 25px 10px;
    
}

.postDark {
    text-align: center;
    border-bottom: 1px solid white;
    padding: 25px 10px;
}

.post:hover {
    background-color: rgb(0, 153, 248);
}

.posts_content {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
}

.posts_contentDark {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.post:hover h3 {
    color: white;
}

h3 {
    color:#333;
    margin: 0 auto;
    font-size: 20px;
    font-weight:bold;
    font-family: 'Oswald', 'sans-serif';
}

.postH3Dark {
    color: white;
}

.posts_post_text {
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.post_section {
    height: 80vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* JS contact form/JS guess game */
.formH3 {
    color: white;
}

#js_form_section {
    margin-top: 20px;
    grid-column: 1/6;
}

.required {
    font-size: 20px;
    color: rgb(0, 153, 248);
}

fieldset {
    margin: 15px 0px;
    display: flex;
    justify-content: space-evenly;
}

legend {
    margin: 0 auto;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
}

#contact_form  {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.88);
    color: white;
    background-color: #000000de;
}

#contact_display {
    font-family: 'Oswald', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 25px;
    padding: 0px 50px 0px 50px;
}

#contactSpan {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hide {
    display: none;
}

.error {
    border: 2px solid red;
}

#js_guess_section{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70vw;
    margin: 30px auto 10px auto;
    box-shadow: 0px 0px 6px black;
    padding: 10px 30px 0px 30px;
    color: white;
    background-color: #000000de;
}

#js_guess_section h3 {
    text-align: left;
}

#js_guess_section input[type="submit"] {
    margin: 25px auto 20px auto;
}

#guessInput {
    padding-left: 15px;
    height: 30px;
    width: 50px;
}

#guess_output {
    font-size: 25px;
    line-height: 30px;
    font-family: 'Oswald', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin: 0 auto 15px auto;
}


/* post.html specific */
#postPageSection {
    overflow-y: scroll;
    padding: 0px 20px 20px 20px;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;

}

#like_section {
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    
}

#like_section form {
    box-shadow: none;
    display: block;
    margin: auto;
}

#like_section form input{
    padding: 12px 18px;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    box-shadow: 2px 2px 5px black;
    margin: -20px auto 0px auto;
    width: 20%;
    min-width: 90px;
    background-color: black;
    color: white;
}

.liked_button #like_section form input {
    box-shadow: 0px 0px 0px transparent;
    border: none;
    color: black;
}

#post_header_div {
    border-bottom: 3px solid black;
}

.post_date {
    font-size: 14px;
    margin:30px auto -15px auto;
}

#post_text {
    margin: 25px auto 15px auto;

    color: #333;

}

#postPageSection img {
    box-shadow: 0px 0px 5px black;
    border: none;
    min-height: auto;
    min-width: auto;
    margin-top: 20px;

}

#createComment_section {
    margin: -20px;
}

#createComment_section p textarea{
    width: 90%;
    height: 20px;
    padding: 10px;
    margin-top: 2px;
}

#createComment_section p label {
    display: none;
}

#createComment_section form {
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    box-shadow: none;
}

#createComment_section button {
    padding: 12px 18px;
    font-family: 'Oswald', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    align-self: center;
    box-shadow: 2px 2px 5px black;
    margin-right: 10px;
    width: 60%;
    min-width: 169px;
    max-width: 170px;
}

#comment_section {
    background-color: #3333331b;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px black;
}

#comment_div {
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    border-top: 0.2px solid gray;
    border-radius: 3px;
    padding: 5px;
    margin: 4px;
    overflow-wrap: break-word;
}

#comment_owner {
    font-weight: bold;
}

#comment_text {
    margin-left: 10px;
    text-transform:lowercase;
}

#edit_delete_section p a  {
    color: black;

}

/* create_post changes */
#id_title {
    height: 45px;
}

textarea {
    resize: none;
    font-size: 22px;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 1px;
}


/* Login/Register and chat/chatroom Pages */
#room_container {
    width: 50vw;
    text-align: center;
    min-width: 300px;
}

#chat_container {
    padding-top: 40px;
    width: 70vw;
    height: 70vh;
}

#login_container, #register_div, #create_post_section, #logged_out_container, #room_container, #chat_container {
    margin: 0 auto;
    grid-column: 1/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 620px;
}

#logged_out_container {
    text-align: center;
}

#login_container {
    height: 78vh;
}

#login_container h2, #register_div h2, #create_post_section h2 {
    padding: 20px 0px;
    margin: 10px auto 5px auto;
    border-bottom: none;
}

/* Form specific */
form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 70vw;
    box-shadow: 0px 0px 6px black;
    padding: 10px 30px;
}

form button, input[type="submit"] {
    font-size: 22px;
    font-family: 'Oswald', 'Arial Narrow', Arial, sans-serif;
    padding: 12px 10px;
    margin: 15px auto;
    width: 50%;
}

input[type='text'], input[type='email'], input[type='number'], input[type='password'], input[type="button"] {
    font-size: 22px;
    font-family: 'Oswald', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 1px;
    margin-top: 15px;
    width: 100%;
}

label {
    margin: 12px 0 -5px 0;
    font-size: 18px;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
}

textarea {
    width: 100%;
}


@media screen and (min-width:470px) {

    .post h3{
        font-size: 30px;
    }


    #filter_posts_section {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    
    #filter_posts_section button {
        flex: 1;
        min-width: 20px;
        max-width: 150px;
        padding: 20px 38px;
    }

}

@media screen and (min-width: 765px){
    nav {
        width: 520px;
        grid-column: 7/9;
    }
    nav ul {
        position: relative;
    }
    #nav_ul {
        text-decoration: none;
        list-style-type: none;
        padding-inline-start: 0px;
        display: flex;
        top: 0;
        right: 0;
        width: auto;
        height: auto;
        background-color: black;
        color: #4ba8cd;
        transition: right 2s ease-in-out;
    }

    nav ul li {
        margin-top: 0px;
    }

    #menu_button {
        display:none;
    }
}

@media screen and (min-width: 700px) {

    #js_guess_section{
        width: 55vw;
    }
    
    form {
        width: 55vw;
    }

}

@media screen and (min-width:950px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    /* posts.html */
    nav ul {
        position: relative;
    }

    #filter_posts_section {
        margin: 45px auto;
        background: none;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        border-bottom: 0px;
    }

    #filter_posts_section button {
        margin: 20px 0px 0px 0px;
    }

    #all_post_sections{
        margin-top: 45px;
        height: 80vh;
        grid-column: 2/6;
        grid-row: 1/5;
        box-shadow: 0px 0px 12px black;
    }

    .post_images {
        width: auto;
        min-height: 300px;
        min-width: 400px;
        height: 20vw;
        width: 30vw;
        object-fit: cover;
        margin-left: 20px;
        
    }

    .post:hover .post_images {
        width: 32vw;
        height: 22vw;
    }

    .post {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 300px;
    }

    h3, .post p {
        grid-column: 1/2;
    }

    .post_images {
        grid-column: 2/3;
    }

    form {
        width: 40vw;
    }

    #js_guess_section{
        grid-column: 1/6;
        width: 40vw;
        margin: 20px auto 0px auto;
    }

    /* Post.html page specific */
    #scrollbar_div {
        overflow-y: hidden;
        grid-column: 1/6;
        grid-row: 1/7;
    }   

    #postPageSection {
        margin: 0 auto;
        width:65vw;
        height: 90vh;
        overflow-y:scroll;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 20px black;
        color: black;
        background-color: white;
    }

    #postPageSection img {
        height: auto;
        width: auto;
        max-height: 60vh;
        max-width: 60vw; 
        min-width: 600px;
        object-fit:contain;
        align-self: center;
    }

}