{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funko Hub</title>
    {% comment %} Alegraya font  {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% comment %} Oswald font {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% comment %} Roboto font {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <!-- Font awesome link -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    {% block scripts %}
    <script defer src="{% static 'functionality.js' %}"></script>
    <script defer src="{% static 'chat.js' %}"></script>
    <script defer src="{% static 'chatroom.js' %}"></script>
    {% endblock %}
    
</head>
<body id="body">
    {% block header %}
    <header>
        <input type="button" id="colorToggle" name="colorToggle">
        <label for="colorToggle" id="toggleLabel"><span><i class="fa-solid fa-sun"></i></span></label>
        <h1><a href=" {% url 'main_hub:index' %}">Funko HUB</a></h1>
        <nav>
            <button id="menu_button" for="nav_btn">
                <div class="bar1 bar"></div>
                <div class="bar2 bar"></div>
                <div class="bar3 bar"></div>
            </button>
            
                
            </input>
            <ul id="nav_ul">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'main_hub:create_post'%}">CREATE POST</a></li>
                    <li><a href="{% url 'chat' %}">CHAT </a></li> 
                    <li><a href="#js_guess_section">PLAY A GAME</a></li> 
                    <li><a href="{% url 'users:logout' %}">LOG OUT</a></li>
                {% else %} 
                    <li><a href="#js_guess_section">PLAY A GAME</a></li>
                    <li><a href="{% url 'users:login' %}">LOG IN</a></li>
                    <li id="register"><a href="{% url 'users:register' %}">JOIN THE COMMUNITY</a></li>
                    
                {% endif %}
            </ul>
        </nav>
        
    </header>
    {% endblock %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>

{% block footer%}
    <footer>
        <p>For Educational Purposes Only</p>
        <p>Copyright &copy; Funko HUB</p>
    </footer>
{% endblock %}
</html>