{% extends 'main_hub/base.html' %}

{% block scripts %}
{% endblock %}

{% block content %}
<section id="create_post_section">
    <form method="post" enctype="multipart/form-data" id="create_form"> <!-- enctype encodes files to allow submission using Post -->
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit">Update</button>
    </form>
</section>

{% endblock %}

{% block footer%}
    <footer id="footer">
        <p>For Educational Purposes Only</p>
        <p>Copyright &copy; Senior Project</p>
    </footer>
{% endblock %}