{% extends 'main_hub/base.html' %}
{% load static %}


{% block content %}
    <section id="filter_posts_section">
        <!-- <button>Home button?</button> -->
        <button id="news_button">
            News
        </button>    
        <button id="events_button">
            Events
        </button>    
        <button id="random_button">
            Random
        </button>
    </section>
    
    <section id="news_section" class="post_section">
        <h2>News</h2>
    {% for post in news_posts %}
            <a href="{% url 'main_hub:post' post.id %}">
            <section class="post">
            <p>{{ post.date_added }}</p>
            <h3>{{ post.title }}</h3>
            <img class="post_images" src="{{ post.photo.url }}"></section></a>
    {% endfor %}
    </section>

    <section id="events_section" class = "post_section hide_posts">
        <h2>Events</h2>
    {% for post in event_posts %}
        <section class="post">
            <a href="{% url 'main_hub:post' post.id %}">
            <h3>{{ post.title }}</h3>
            <img class="post_images" src="{{ post.photo.url }}"></a>
        </section>
    {% endfor %}
    </section>

    <section id = "random_section" class = "post_section hide_posts">
        <h2>Random</h2>
    {% for post in random_posts %}
        <section class="post">
            <a href="{% url 'main_hub:post' post.id %}">
            <h3>{{ post.title }}</h3>
            <img class="post_images" src="{{ post.photo.url }}"></a>
        </section>
    {% endfor %}
    </section>  

{% endblock %}
</html>